html {
    font-family: LittleGuy;
    font-size: 100%;
    letter-spacing: 1;
    text-align: center;
    background-image: var(--img-background);
}



@font-face { font-family: LittleGuy; src: url('fonts/LittleGuy.ttf'); }



.scontain {
    background-image: var(--img-background-secondary);
    border: var(--main-border);
    padding: 3%;
    margin: 2%;
    height: 22%
}

.scontain-trans {
    padding: 3%;
    margin: 2%;
    height: 22%
}

.bigcontain {
    border: var(--big-border);
    box-shadow: var(--big-shadow);
    background: var(--big-texture);
    background-color: var(--color-big-background);
}

.framin {
    border: var(--main-border);
    background-color: var(--color-big-background);
}

.bigheader {
    background: var(--header-img);
    border: var(--main-border);
    padding: 3%;
    margin: 2%;
    height: 22%
}

.sidebar {
    background-color: var(--color-secondary);
    height: 6%;
    padding: 1%;
    width: 80%;
    border: var(--main-border);
    border-radius: 25px;
}

a:link {
  color: var(--color-text);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: var(--color-accent);
  background-color: transparent;
  text-decoration: none;
}

::selection {
    background: var(--color-highlight);
}

#statuscafe {
    padding: .5em;
}
#statuscafe-username {
    margin-bottom: .5em;
    color: var(--color-accent);
}
#statuscafe-content {
    margin: 0 1em 0.5em 1em;
    color: var(--color-text);
}

#scrollbox {
border: 2px solid var(--color-border);
border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
border: 3px solid var(--color-border);
}

.dragme{
        position:relative;
        width: 270px;
        height: 203px;
        cursor: move;
    }


:root, 
[data-selected-theme="pastel"] {
  --img-favicon: url('imgs/favicons/pastel.webp');
  --img-background: url('imgs/backgrounds/pastelbg.gif');
  --img-background-secondary: url('imgs/backgrounds/secpastelbg.gif');
  --img-piclog: url('imgs/text/pas_recentpiclog.gif');
  --main-border: ridge 5px #faadf6;
  --color-border: #faadf6;
  --big-border: outset 5px #6383ff;
  --big-shadow: 5px 10px rgba(243, 68, 255, 0.48);
  --header-img: url('imgs/other/pasban.jpg');
  --color-secondary: rgba(255, 255, 255, 0.53);
  --color-highlight: rgba(247, 130, 255, 0.8);
  --color-big-background: #fed1ff;
  --color-text: #d46ac0;
  --color-accent: #2e6fbf;
} 

[data-selected-theme="grunge"] { 
  --img-favicon: url('imgs/favicons/grunge.webp');
  --img-background: url('imgs/backgrounds/greenbg.gif'); 
  --img-background-secondary: url('imgs/backgrounds/secgreenbg.gif');
  --main-border: ridge 5px #474224;
  --color-border: black;
  --big-border: outset 5px #3b3618;
  --big-shadow: 5px 10px rgba(69, 62, 20, 0.66);
  --big-texture: url('imgs/backgrounds/pixeltex.png');
  --header-img: url('imgs/other/gruban.jpg'); 
  --color-secondary: rgba(16, 8, 7, 0.08);
  --color-highlight: rgba(179, 255, 164, 0.8);
  --color-big-background: #544c2f;
  --color-text: black; 
  --color-accent: black; 
}

[data-selected-theme="kidcore"] { 
  --img-favicon: url('imgs/favicons/kidcore.webp');
  --img-background: url('imgs/backgrounds/kidbg.gif');
  --img-background-secondary: url('imgs/backgrounds/seckidbg.png');
  --main-border: ridge 5px yellow;
  --color-border: yellow;
  --big-border: outset 5px magenta;
  --big-shadow: 5px 10px rgba(68, 76, 255, 0.54);
  --big-texture: url('imgs/backgrounds/checktex.png');
  --header-img: url('imgs/other/kidban.jpg');
  --color-secondary: rgba(255, 255, 255, 0.53);
  --color-highlight: rgba(206, 108, 255, 0.8);
  --color-big-background: hotpink;
  --color-text: #122e70;
  --color-accent: #7a0c5b;
}

[data-selected-theme="brainrot"] {
  --img-favicon: url('imgs/favicons/brainrot.webp');
  --img-background: url('imgs/backgrounds/brainrotbg.gif');
  --img-background-secondary: url('imgs/backgrounds/secbrainrotbg.jpg');
  --main-border: ridge 5px blue;
  --color-border: blue;
  --big-border: outset 5px royalblue;
  --big-shadow: 5px 10px rgba(68, 216, 255, 0.54);
  --big-texture: url('imgs/backgrounds/randomtex.png');
  --header-img: url('imgs/other/braban.png') repeat;
  --color-secondary: rgba(255, 255, 255, 0.73);
  --color-highlight: rgba(163, 243, 255, 0.8);
  --color-big-background: LemonChiffon;
  --color-text: #947e00;
  --color-accent: blue;
}

[data-selected-theme="fish"] {
  --img-favicon: url('imgs/favicons/fish.webp');
  --img-background: url('imgs/backgrounds/fishbg.gif');
  --img-background-secondary: url('imgs/backgrounds/secfishbg.jpg');
  --main-border: ridge 5px darkblue;
  --color-border: darkblue;
  --big-border: outset 5px blue;
  --big-shadow: 5px 10px rgba(76, 30, 201, 0.54);
  --big-texture: url('imgs/backgrounds/bubbletex.png') repeat;
  --header-img: url('imgs/other/fishban.jpg') 0px;
  --color-secondary: rgba(255, 255, 255, 0.33);
  --color-highlight: rgba(255, 230, 163, 0.8);
  --color-big-background: SkyBlue;
  --color-text: white;
  --color-accent: #bd4302;
}
